@import 'components/_vars.scss';
@import 'components/_header.scss';
@import 'components/_left-sidebar.scss';
@import 'components/_services.scss';
@import 'components/_right-sidebar.scss';
@import 'components/_form.scss';

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
    url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Light.eot');
  src: local('Proxima Nova Light'), local('ProximaNova-Light'),
    url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Light.woff') format('woff'),
    url('../fonts/ProximaNova-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Proxima Nova', sans-serif;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

.clearfix {
  &:after {
    content: '';
    clear: both;
    display: table;
  }
}

// ===== MODAL WINDOW =====
#wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba($color: #fff, $alpha: 0.2);
  z-index: 100;
  display: none;
  &.active {
    display: block;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  border: solid 1px $light-grey;
  z-index: 101;
  padding: 100px 200px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba($color: #999, $alpha: 1);
  &.active {
    display: block;
  }
}

// ===== MAIN CONTAINERS =====
.container,
.main-container {
  width: 960px;
  margin: 0 auto;
  @include desktop {
    width: 100%;
    padding: 0 20px;
  }
  @include tablet {
    width: 100%;
    padding: 0 20px;
  }
  @include mobile {
    padding: 0 20px;
  }
}

.main-container {
  position: relative;
  display: flex;
  @include tablet {
    flex-flow: column;
  }
}

// ===== Button =====
.btn {
  height: 30px;
  font-family: ProximaNova;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  border-radius: 5px;
  padding: 0 20px;
  background-color: #87b448;
  outline: none;
  border: none;
  cursor: pointer;
  &.btn-block {
    display: block;
    width: 100%;
    height: 52px;
    margin-top: 20px;
    font-size: 16px;
    line-height: 52px;
  }
}

// ===== FETCH BUTTONS =====
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px auto;
}

.fetch-btn {
  @extend .btn;
  display: block;
  margin: 0 12px;
  min-width: 130px;
  background-color: transparent;
  &:active {
    box-shadow: 0 0 10px rgba($color: #000, $alpha: 0.9);
  }
}

#fetchData {
  color: $green;
  border: 1px solid $green;
}

#brokenData {
  color: red;
  border: 1px solid red;
}

@include tablet {
  .buttons {
    display: none;
  }
}
